.wrapper
  .header
    .header__box
      .header__box__1
        .header__box__1__title-box
          .header__box__1__title-box__title
            = link_to root_path do
              = image_tag 'logo/logo.png', height: '40px', width: '140px'

        .header__box__1__search-box
          = search_form_for(@q, url: products_path, class: "header__box__1__search-box__box" ) do |f|
            = f.text_field :product_name_cont, placeholder: "キーワードから探す",height: '19px', class: "header__box__1__search-box__box__text"
            = image_submit_tag 'icon/icon-search 1.png', height: '19px', width: '19px', class: "header__box__1__search-box__box__submit"

  -# = render "products/side_bar"

  %div.menu
    .item
      検索結果
    .like
      - @product.each do |product|
        .like__List
        = link_to "/products/#{product.id}", method: :get do
          .like__List__image
            = image_tag product.images[0].image.url, height: '150px', width: '150px', class: '.like__image__box'
          .like__List__name
            %li
            = product.product_name
          .like__List__price
            %li
              = product.price
              円

